
<h2 mat-dialog-title>Agregar nueva categoria</h2>
<mat-dialog-content>
  <form>
    <div class="category-container">
      <mat-form-field>
        <input matInput placeholder="Nombre" required/>
      </mat-form-field>
      <mat-form-field>
        <textarea matInput placeholder="Descripcion" required></textarea>
      </mat-form-field>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <div class="right">
    <button mat-button mat-dialog-close color="warn">
      <mat-icon class="mat-18">cancel</mat-icon> Cancelar
    </button>
    <button mat-button mat-dialog-close cdkFocusInitial color="primary" (submit)="saveCategory()">
      <mat-icon class="mat-18">save</mat-icon> Guardar
    </button>
  </div>
</mat-dialog-actions>
